<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up | AutLog</title>
    <link rel="icon" href="../../assets/images/autolog-logo.png">
  </head>
  <body class="flex justify-center items-center min-h-screen">
    <div
      class="signup-form-container border-[#1a9fff] border-2 rounded-xl p-6 w-[90%] max-w-md flex justify-center items-center shadow-md shadow-neon"
    >
      <form
        [formGroup]="signupForm"
        (ngSubmit)="Submit()"
        class="signup-form flex flex-col justify-center items-center gap-4 w-full"
      >
        <h1 class="signup-font text-3xl md:text-4xl text-[#00f0ff] font-bold">Sign Up</h1>

        <div class="form-group flex flex-col gap-3 w-full">
          <input
            type="text"
            placeholder="Enter Your Username:"
            formControlName="username"
            required
            class="p-2 rounded-md border-b border-gray-400 placeholder:font-serif placeholder:text-gray-400 focus:placeholder:text-gray-100 bg-transparent text-white focus:outline-none focus:border-[#1a9fff]"
          />
          <span
            *ngIf="username?.touched && username?.errors?.['required']"
            class="text-red-500 text-sm"
            >Username is required!</span
          >

          <input
            type="email"
            placeholder="Enter Email:"
            formControlName="email"
            required
            class="p-2 rounded-md border-b border-gray-400 placeholder:font-serif placeholder:text-gray-400 focus:placeholder:text-gray-100 bg-transparent text-white focus:outline-none focus:border-[#1a9fff]"
          />
          <span *ngIf="email?.touched && email?.errors?.['required']" class="text-red-500 text-sm"
            >Email is required!</span
          >
          <span *ngIf="email?.errors?.['email']" class="text-red-500 text-sm"
            >Email Must Ends With @gmail.com</span
          >

          <input
            type="password"
            placeholder="Enter Password:"
            formControlName="password"
            required
            class="p-2 rounded-md border-b border-gray-400 placeholder:font-serif placeholder:text-gray-400 focus:placeholder:text-gray-100 bg-transparent text-white focus:outline-none focus:border-[#1a9fff]"
          />
          <span
            *ngIf="password?.touched && password?.errors?.['required']"
            class="text-red-500 text-sm"
          >
            Password is required!
          </span>

          <span
            *ngIf="password?.touched && password?.errors?.['minlength']"
            class="text-red-500 text-sm"
          >
            Password must be at least 6 characters long!
          </span>

          >
        </div>
        <button
          type="submit"
          [disabled]="loading"
          class="btn w-full py-2 duration-150 font-semibold rounded-md transition-all bg-[#1a9fff] text-black hover:bg-[#00f0ff] hover:text-white focus:text-white disabled:opacity-50 disabled:cursor-not-allowed flex justify-center items-center gap-2"
        >
          <span *ngIf="!loading">Sign Up</span>

          <span *ngIf="loading" class="flex items-center gap-2">
            <span
              class="animate-spin border-2 border-t-transparent border-white rounded-full w-4 h-4"
            ></span>
            Please wait...
          </span>
        </button>

        <p class="text-gray-400 text-sm">
          Already have an account?
          <a routerLink="/login" class="text-[#1a9fff] hover:underline">Login</a>
        </p>

        <p class="text-green-400  bg-gray-800 w-[max-content] p-4 fixed top-0 right-0 mt-2 mr-2 rounded-md text-center">{{ successMsg }}</p>
        <p class="text-red-400 text-center  bg-gray-800 w-[max-content] p-4 fixed top-0 right-0 mt-2 mr-2 rounded-md">{{ errorMsg }}</p>
      </form>
    </div>
  </body>
</html>
