.ct-chart {
  height: 16rem; /* ensure chart has height */
}

.ct-chart .ct-line {
  stroke-width: 3px;
}

.ct-chart .ct-series-a .ct-line {
  stroke: #14b8a6; /* Litres */
  fill: rgba(20,184,166,0.2);
}

.ct-chart .ct-series-b .ct-line {
  stroke: #f97316; /* Price */
  fill: rgba(249,115,22,0.2);
}

.ct-chart .ct-point {
  stroke-width: 4px;
}
