 .model-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;  /* adjust size */
  height: 400px; /* adjust size */
  transform: translate(-50%, -50%);
  pointer-events: none; /* allows scrolling/interactions */
  z-index: 10;
}

.model-wrapper.stopped {
  pointer-events: none;
}

.hero-container {
  position: relative;
  z-index: 1;
}

.about-section {
  position: relative;
  z-index: 1;
}
